<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" class="initial-bg-screen">
  <!--  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header> -->

  <ion-grid>
    <ion-row
      style="padding-left: 50px; padding-right: 50px; height: 100vh"
      class="ion-align-items-center"
    >
      <ion-col size="12">
        <ion-text>
          <h2
            style="
              color: #ffffff;
              text-align: center;
              font-weight: bold;
              padding-top: 80px;
            "
          >
            AVENTONAPP
          </h2>
          <h4 style="color: #ffffff; text-align: center; padding-top: 0px">
            ¡Que bueno que estés aqui!
          </h4>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-img
          src="assets/aventon_app_logo.png"
          alt="The Wisconsin State Capitol building in Madison, WI at night"
        ></ion-img>
      </ion-col>
      <ion-col size="12">
        <ion-input
          [(ngModel)]="usuario"
          label="Email"
          labelPlacement="stacked"
          placeholder="Ingrese su email institucional"
          style="color: #ffffff"
        ></ion-input>
        <ion-input
          [(ngModel)]="password"
          label="Contraseña"
          labelPlacement="stacked"
          placeholder="Ingrese su contraseña"
          style="color: #ffffff"
          type="password"
        ></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-button
          (click)="onLogin()"
          style="color: #ffffff"
          size="default"
          fill="outline"
          expand="block"
          >Ingresar
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12" style="color: #ffffff; text-align: center">
        <a style="color: #ffffff; text-align: center"
          >¿Olvidaste tu contraseña?</a
        >
        <br />
        <a
          style="color: #ffffff; text-align: center; cursor: pointer"
          (click)="goTo('registro')"
          >Crear cuenta</a
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toast
    [isOpen]="isOpentoast"
    message="Usuario o contraseña incorrectos"
    [duration]="3000"
    (didDismiss)="setToastOpen(false)"
  ></ion-toast>
</ion-content>
